# This is a basic workflow to help you get started with Actions

name: CI


# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  push:
    branches:
      - 'main'
 

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    permissions:
      contents: write

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout
        uses: actions/checkout@v4.2.2

      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@3.2.0
        with:
          root_file: main.tex
          post_compile: latexmk -c

      - name: Check pdf file
        run: |
          file main.pdf | grep -q ' PDF '

      - name: Upload file to repository
        run: |
          git config --global user.email "drbrueckmann@proton.me"
          git config --global user.name "brueckmann"
          git pull
          mv main.pdf ./docs/CV_GBrueckmann.pdf
          git add ./docs/CV_GBrueckmann.pdf
          git commit -m "updeted cv generated"
          git push
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
